* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main {
  min-width: 300px;
  width: 40%;
  margin: auto;
}
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3px;
  margin: 20px;
}
.button {
  border: none;
  background-color: white;
  padding: 10px;
  font-size: 20px;
  border-radius: 3px;
}
.button:hover {
  background-color: #f2e5d4;
}
#clear:hover {
  background-color: rgb(255, 143, 143);
}
#equal:hover {
  background-color: rgb(147, 255, 214);
}
.operator {
  background-color: #faebd7;
}
.display {
  height: 150px;
  width: 100%;
  min-width: 300px;
  border-bottom: 2px solid brown;
  margin: 20px;
  padding: 10px;
  font-size: 5em;
  color: rgb(77, 77, 77);
}
